p{
	color:green;
	font-family:Courier,Impact,Arial;
	font-style: italic;
	font-variant: small-caps;
	font-size: 225% ;
	}
h2{
	color:#0000FF;
	background-color: #B3B3B3;
}
p{
	text-align :right;
}
